# Ignore all files in the following directories
/pkg
/certificate
/codefiles
/logs

# Ignore config.json
config.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
main
main.exe

# Go workspace file
go.work